#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero #nav {
  background-color: transparent;
}

#hero-search-form .item {
  position: relative;
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#hero-search-form .item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  width: 2px;
  background-color: white;
}
#hero-search-form .item:hover {
  color: var(--bs-warning);
}

#one-click #one-click-links .one-click-link:hover {
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
}

footer ul li a {
  display: inline-block;
  color: var(--bs-secondary);
  margin-top: 10px;
}
footer ul li a:hover {
  color: var(--bs-warning);
}
footer #newsletter-form .form-group {
  background-color: var(--bs-light);
  border-radius: 2rem;
  position: relative;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #newsletter-form .form-group input {
  border: none;
}

footer #newsletter-form .form-group input:focus,
footer #newsletter-form .form-group input:active {
  outline: none;
  border: none;
  box-shadow: none;
}
