#navbar {
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
}
#navbar ul {
  list-style-type: none;
  column-gap: 2rem;
  padding: 0.6rem 3rem;
}
#navbar ul a {
  color: whitesmoke;
  letter-spacing: 1px;
}
#navbar ul li.active a {
  color: var(--bs-warning);
  background-color: none;
}
#navbar ul a:hover {
  color: var(--bs-warning);
}

@media screen and (max-width: 967px) {
  #navbar-items {
    flex-direction: column;
    height: 100vh;
    /* overflow-y: scroll; */
    width: 340px !important;
    position: fixed;
    top: 0;
    right: -340px;
    z-index: 9999;
    padding: 1.5rem;
    background-color: black;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.2);
  }
  #navbar-items ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  #navbar-items .sit_btn {
    width: 100%;
  }
  #navbar-items #menu-close-btn {
    position: absolute;
    top: 1.4rem;
    left: 1.3rem;
    z-index: 99999999;
    border: red;
    display: block !important;
    font-size: 1.4rem;
  }
  #menu-with-handle-btn {
    display: flex !important;
  }
}
